.single {
    padding: 2px 16px;
    background-color: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.single:hover {
    border-left: 8px solid #4979ff;
    transition: 0.3s ease-in-out;
}

.text {
    font-size: 20px;
    font-weight: 500;
}